<?xml version="1.0"?>

<configuration>

  <configSections>
    <section name="am3" requirePermission="false" type="AM3.MaintenanceModeSectionHandler, AM3"/>
  </configSections>

  <am3 enabled="true" loginUrl="~/Login.aspx" landingPage="~/admin/WebsiteDown.aspx"
            allowedRoles="administrator" allowedUsers="raihan" />

  <appSettings/>

  <connectionStrings>
    <add name="SimpleAuthDB" providerName="System.Data.SqlClient" connectionString="Data Source=AIUB-PC\SQLEXPRESS;Initial Catalog=test;User Id=sa;Password=12345;" />
  </connectionStrings>

  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" defaultLanguage="C#" />

    <membership defaultProvider="MyMembershipProvider">
      <providers>
        <clear/>
        <add name="MyMembershipProvider"
             type="Altairis.Web.Security.SimpleSqlMembershipProvider, Altairis.Web.Security"
             connectionStringName="SimpleAuthDb" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="MyRoleProvider">
      <providers>
        <clear/>
        <add name="MyRoleProvider"
             type="Altairis.Web.Security.SimpleSqlRoleProvider, Altairis.Web.Security"
             connectionStringName="SimpleAuthDb" />
      </providers>
    </roleManager>


    <httpModules>
      <add name="MaintenanceMode" type="AM3.MaintenanceModeModule, AM3"/>
    </httpModules>

    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->

  </system.web>

</configuration>
